In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('mymoviedb.csv')

In [3]:
movies.head(1)

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,movie_id
0,15-12-2021,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,5083.954,8940,8.3,en,"Action, Adventure, Science Fiction",https://image.tmdb.org/t/p/original/1g0dhYtq4i...,NaN,NaN,NaN,NaN,NaN,NaN,1

In [4]:
 movies = movies[['movie_id','Title','Overview','Genre','Poster_Url','Vote_Average']]

In [5]:
movies.head()

,movie_id,Title,Overview,Genre,Poster_Url,Vote_Average
0,1,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,"Action, Adventure, Science Fiction",https://image.tmdb.org/t/p/original/1g0dhYtq4i...,8.3
1,2,The Batman,"In his second year of fighting crime, Batman u...","Crime, Mystery, Thriller",https://image.tmdb.org/t/p/original/74xTEgt7R3...,8.1
2,3,No Exit,Stranded at a rest stop in the mountains durin...,Thriller,https://image.tmdb.org/t/p/original/vDHsLnOWKl...,6.3
3,4,Encanto,"The tale of an extraordinary family, the Madri...","Animation, Comedy, Family, Fantasy",https://image.tmdb.org/t/p/original/4j0PNHkMr5...,7.7
4,5,The King's Man,As a collection of history's worst tyrants and...,"Action, Adventure, Thriller, War",https://image.tmdb.org/t/p/original/aq4Pwv5Xeu...,7

In [6]:
movies.isnull().sum()

movie_id         0
Title            9
Overview         9
Genre           11
Poster_Url      11
Vote_Average    10
dtype: int64

In [7]:
movies.dropna(inplace=True)

In [8]:
movies.duplicated().sum()

np.int64(0)

In [9]:
movies.iloc[0].Genre

'Action, Adventure, Science Fiction'

In [10]:
movies['Overview'] = movies['Overview'].apply(lambda x:x.split())

In [11]:
movies.head()

,movie_id,Title,Overview,Genre,Poster_Url,Vote_Average
0,1,Spider-Man: No Way Home,"[Peter, Parker, is, unmasked, and, no, longer,...","Action, Adventure, Science Fiction",https://image.tmdb.org/t/p/original/1g0dhYtq4i...,8.3
1,2,The Batman,"[In, his, second, year, of, fighting, crime,, ...","Crime, Mystery, Thriller",https://image.tmdb.org/t/p/original/74xTEgt7R3...,8.1
2,3,No Exit,"[Stranded, at, a, rest, stop, in, the, mountai...",Thriller,https://image.tmdb.org/t/p/original/vDHsLnOWKl...,6.3
3,4,Encanto,"[The, tale, of, an, extraordinary, family,, th...","Animation, Comedy, Family, Fantasy",https://image.tmdb.org/t/p/original/4j0PNHkMr5...,7.7
4,5,The King's Man,"[As, a, collection, of, history's, worst, tyra...","Action, Adventure, Thriller, War",https://image.tmdb.org/t/p/original/aq4Pwv5Xeu...,7

In [12]:
def clean_genres(x):
    if isinstance(x, str):
        return [i.strip().replace(" ", "") for i in x.split(',')]
    elif isinstance(x, list):
        return [i.strip().replace(" ", "") for i in x]
    else:
        return []

movies['Genre'] = movies['Genre'].apply(clean_genres)

In [13]:
movies['tags'] = movies['Overview'] + movies['Genre']

In [14]:
movies.head()

,movie_id,Title,Overview,Genre,Poster_Url,Vote_Average,tags
0,1,Spider-Man: No Way Home,"[Peter, Parker, is, unmasked, and, no, longer,...","[Action, Adventure, ScienceFiction]",https://image.tmdb.org/t/p/original/1g0dhYtq4i...,8.3,"[Peter, Parker, is, unmasked, and, no, longer,..."
1,2,The Batman,"[In, his, second, year, of, fighting, crime,, ...","[Crime, Mystery, Thriller]",https://image.tmdb.org/t/p/original/74xTEgt7R3...,8.1,"[In, his, second, year, of, fighting, crime,, ..."
2,3,No Exit,"[Stranded, at, a, rest, stop, in, the, mountai...",[Thriller],https://image.tmdb.org/t/p/original/vDHsLnOWKl...,6.3,"[Stranded, at, a, rest, stop, in, the, mountai..."
3,4,Encanto,"[The, tale, of, an, extraordinary, family,, th...","[Animation, Comedy, Family, Fantasy]",https://image.tmdb.org/t/p/original/4j0PNHkMr5...,7.7,"[The, tale, of, an, extraordinary, family,, th..."
4,5,The King's Man,"[As, a, collection, of, history's, worst, tyra...","[Action, Adventure, Thriller, War]",https://image.tmdb.org/t/p/original/aq4Pwv5Xeu...,7,"[As, a, collection, of, history's, worst, tyra..."

In [75]:
new_df = movies[['movie_id','Title','tags','Poster_Url']]

In [76]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\jaide\AppData\Local\Temp\ipykernel_18404\3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [77]:
new_df.head()

,movie_id,Title,tags,Poster_Url
0,1,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,https://image.tmdb.org/t/p/original/1g0dhYtq4i...
1,2,The Batman,"In his second year of fighting crime, Batman u...",https://image.tmdb.org/t/p/original/74xTEgt7R3...
2,3,No Exit,Stranded at a rest stop in the mountains durin...,https://image.tmdb.org/t/p/original/vDHsLnOWKl...
3,4,Encanto,"The tale of an extraordinary family, the Madri...",https://image.tmdb.org/t/p/original/4j0PNHkMr5...
4,5,The King's Man,As a collection of history's worst tyrants and...,https://image.tmdb.org/t/p/original/aq4Pwv5Xeu...

In [78]:
new_df['tags'][0]

'Peter Parker is unmasked and no longer able to separate his normal life from the high-stakes of being a super-hero. When he asks for help from Doctor Strange the stakes become even more dangerous, forcing him to discover what it truly means to be Spider-Man. Action Adventure ScienceFiction'

In [79]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\jaide\AppData\Local\Temp\ipykernel_18404\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [80]:
new_df.head()

,movie_id,Title,tags,Poster_Url
0,1,Spider-Man: No Way Home,peter parker is unmasked and no longer able to...,https://image.tmdb.org/t/p/original/1g0dhYtq4i...
1,2,The Batman,"in his second year of fighting crime, batman u...",https://image.tmdb.org/t/p/original/74xTEgt7R3...
2,3,No Exit,stranded at a rest stop in the mountains durin...,https://image.tmdb.org/t/p/original/vDHsLnOWKl...
3,4,Encanto,"the tale of an extraordinary family, the madri...",https://image.tmdb.org/t/p/original/4j0PNHkMr5...
4,5,The King's Man,as a collection of history's worst tyrants and...,https://image.tmdb.org/t/p/original/aq4Pwv5Xeu...

In [81]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [82]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
        return " ".join(y)

In [83]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\jaide\AppData\Local\Temp\ipykernel_18404\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [84]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=3000,stop_words='english')

In [85]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [86]:
cv.get_feature_names_out()

array(['000', '10', '100', ..., 'zu', 'ángela', 'émili'],
      shape=(2224,), dtype=object)

In [87]:
from sklearn.metrics.pairwise import cosine_similarity

In [88]:
similarity = cosine_similarity(vectors)

In [89]:
def recommend(movie):
    movie_index = new_df[new_df['Title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[0:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].Title)

In [90]:
import pickle

In [91]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [92]:
pickle.dump(similarity,open('similarity.pkl','wb'))